* {
  box-sizing: border-box;
  font-family: 'Manrope';
  font-weight: 600;
}

body {
    background-color: #FEFBF6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
    width: 100vw;
}

.header {
   margin-bottom: 45px; 
}

.headerTitle {
    font-family: 'Manrope';
    font-size: 56px;
}

.main {
    min-width: 70%;
}

.addGoal {
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 24px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.addGoalTitle {
    font-size: 32px;
    margin-bottom: 24px;
}

.inputNewContainer {

}

.inputNewTitle {
    font-size: 24px;
    margin-bottom: 24px;
}

.inputNew {
    padding: 10px 12px;
    border: 1px solid #A3A3A3;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 24px;
    outline: none;
}

.createButton {
    border-radius: 16px;
    border: none;
    padding: 8px 24px;
    margin-right: 16px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #5CB897;
}

.cancelButton {
    border-radius: 16px;
    border: none;
    padding: 8px 24px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #FD7D6A;
}

.goal {
    margin-top: 45px;
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 24px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.goalHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}


.goalTitle {
    font-size: 24px;
}

.goalEdit {
    font-size: 24px;
}

.inputNewTitle {
    font-size: 24px;
    margin-bottom: 24px;
}

.inputNew {
    padding: 10px 12px;
    border: 1px solid #A3A3A3;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 24px;
    outline: none;
}

.createButton {
    border-radius: 16px;
    border: none;
    padding: 8px 24px;
    margin-right: 16px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #5CB897;
}

.cancelButton {
    border-radius: 16px;
    border: none;
    padding: 8px 24px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #FD7D6A;
}

.goal {
    margin-top: 45px;
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 24px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.goalHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.goalTitle {
    font-size: 20px;
}

.goalEdit {
    font-size: 20px;
}

.goalTable {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.goalTable td {
  padding: 10px;
  border: 1px solid #ddd;
}

.goalTable tr:first-child td {
  background-color: #f5f5f5;
  font-weight: bold;
}

.goalTable tr td:first-child {
  border-left: none;
}
.goalTable tr td:last-child {
  border-right: none;
}
.goalTable tr:first-child td {
  border-top: none;
}
.goalTable tr:last-child td {
  border-bottom: none;
}

.goalTable tr:first-child td:first-child {
  border-top-left-radius: 12px;
}
.goalTable tr:first-child td:last-child {
  border-top-right-radius: 12px;
}
.goalTable tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.goalTable tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.goalTable input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #4CAF50;
}


.goalSave {
    font-size: 24px;
    color: #5CB897;
}

.goalDelete {
    font-size: 24px;
    color: #FD7D6A;
}

.inputEditContainer {
    
}

.inputEditTitle {
    font-size: 24px;
    margin-bottom: 24px;
}

.inputEdit {
    padding: 10px 12px;
    border: 1px solid #A3A3A3;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 24px;
    outline: none;
}
